doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.app
    nav.navbar.navbar-default
      div.navbar-header
      a.navbar-brand(href='/') My Tweets
      a.navbar-brand(href='/delete') Delete Tweets
      a.navbar-brand(href='/favorite') Fav Station
      a.navbar-brand(href='/favoriteHistory') Fav History
    block content